<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- MyBatis SqlSessionFactory: 데이터소스 + 전역 설정 + 매퍼 XML 위치 지정 -->
	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="classpath:egovframework/mapper/sql-mapper-config.xml" />
		<property name="mapperLocations" value="classpath:egovframework/mapper/example/*.xml" />
	</bean>

	<!-- primary(기본 DB) 매퍼 스캐너 : @Mapper 가 붙은 인터페이스만 sqlSession 에 바인딩. -->
	<!-- 두 번째 DB 매퍼는 @SecondaryMapper 로 표시되어 별도 스캐너가 sqlSession2 에 바인딩하므로, -->
	<!-- 두 스캐너가 같은 basePackage(egovframework.example)를 스캔해도 애노테이션으로 갈려 겹치지 않음. -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="egovframework.example" />
		<property name="annotationClass" value="org.apache.ibatis.annotations.Mapper" />
		<property name="sqlSessionFactoryBeanName" value="sqlSession" />
	</bean>

</beans>
